* {
    max-width: 900px;
    margin: 0 auto;
}
  
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    
}
  
header h1 {
  padding: 20px;
  width: 95%;
  background-color: rgb(145, 23, 23);
  color: white;
  text-align: center;
 
}
  
header nav {
  display: flex;
  width: 95%;
  background-color: black;
  padding-right: 40px;
 
}
  

  
nav a {
    justify-content: space-around;
    padding: 10px 0 10px 0;
    text-decoration: none;
    font-size: medium;
    color: white;
}
  
nav a:hover {
    color: rgb(145, 23, 23);
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 0;
}
  
nav a:active {
    color: rgb(255, 230, 6);
}
  
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
  
figcaption {
  text-align: center;
  font-size: small;
  font-style: italic;
}
  

footer {
  background-color: rgb(145, 23, 23);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

footer p:first-of-type {
  color: white;
}

footer p:last-of-type {
  color: yellow;
}

/* Class Selectors and IDs */
  
.card {
  border: 1px solid black;
  border-radius: 12px;
  margin: 10px;
}
  
.card h2 {
  background-color: rgb(145, 23, 23);
  border-top: 1px solid black;
  border-radius: 12px 12px 0 0;
  text-align: center;
  padding: 8px;
  color: white;
}
  
/* first setion */
.card img:first-of-type {
  float: right;
  padding: 15px 15px 10px 10px;
}
  
.card p:first-of-type {
  padding: 15px 5px 10px 10px;
}
  
.card h2:nth-of-type(2) {
  background-color: white;
  color: black;
  border: none;
  border-bottom: .200px solid cadetblue;
  max-width: 90%;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
  
.card figure {
  float: left;
  padding: 8px 5px 10px 10px;
}
  
.card p:nth-of-type(2) {
  padding: 15px;
}
  
/* second section */
.card ul {
  padding: 30px;
}