
@media screen and (min-width: 600px) {
    #temple-photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #al {
        display: none;
    }
    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }
    .navigation a {
        display: block;
    }
}
@media screen and (min-width: 700px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #al{
        display: none;
    }
    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }
    .navigation a {
        display: block;
    }

    #temple-photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure img, figcaption {
        grid-column: auto;
    }

}